<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Sarala&display=swap" rel="stylesheet">  
    

    <title>Edit Product Screen</title>
</head>
<body>
    <div class="hero-image">
        <div class="hero-text">
            <h1>Edit <%= product.name %></h1>
        </div>
    </div>
<br>
    <ul class="navigation">
        <li>
            <a href="/products">Return to Product List</a>
        </li>
        <li>
            <a href="/products">Discard Changes to <%= product.name %></a>
        </li>
        
    </ul>
    <br>
    <div class="container">
    <form action="/products/<%=product.id%>?_method=PUT" method="POST">
        <div class="row">
            <div class="col-25">
                <label for="name">Product Name:</label> 
            </div>
            <div class="col-75">
                <input type="text" name="name" value="<%=product.name%>"/> <br/>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="description">Description:</label> 
            </div>
            <div class="col-75">
                <!-- <input type="text" name="description" value="<%=product.description%>"/> <br/> -->
                <textarea name="description" placeholder="<%=product.description%>" style="height:50px"></textarea>
            </div>
        </div>
        
        <div class="row">
            <div class="col-25">
                <label for="price">Price:</label>
            </div>
            <div class="col-75">
                <input type="text" name="price" value="<%=product.price%>"/> <br/>
            </div>
        </div>
        
        <div class="row">
            <div class="col-25">
                <label for="qty">Quantity on Hand:</label> 
            </div>
            <div class="col-75">
                <input type="text" name="qty" value="<%=product.qty%>"/> <br/>
            </div>
            <br>
            <br>
            <input type="submit" class="button" name="" value="Submit Changes"/>
        </div>
    </form>
</div>
</body>
</html>