<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Inventory</title>
</head>
<body>
    <h1>Product Inventory</h1>
    <nav class="nav">
        <a href="/products/new">Add a New Product</a>
    </nav>
    <% for(let i = 0; i < prodList.length; i++){ %>
        <li>
            <a href="/products/<%=prodList[i].id %>"><%= prodList[i].name %></a>
            <%= prodList[i].description %>
            <%= prodList[i].img %>
            <%= prodList[i].price %>
            <%= prodList[i].qty %>
        </li>
          <% } %>
    
</body>
</html>