<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Sarala&display=swap" rel="stylesheet">  
    
    <title>Product Inventory</title>
</head>
<body>
    <div class="hero-image">
        <div class="hero-text">
            <h1>Beach Equipment Rentals</h1>
        </div>
    </div>
<br>
    <ul class="navigation">
        <li class="nav">
            <a href="/products/new">Add a New Product</a>
        </li>
    </ul>
    <div class="container">
    <% for(let i = 0; i < prodList.length; i++){ %>
        <div class="item">
            <li>
                <a href="/products/<%=prodList[i].id %>">
                    <img src="<%= prodList[i].img %>" alt="<%= prodList[i].name %>" width="45%" height="45%">
                    <p><%= prodList[i].description %></p>
                    <p>
                        Rental Price: $<%= prodList[i].price %>
                    </p>
                    In Stock: <%= prodList[i].qty %>
                </a>
            </li>
        </div>
          <% } %>
        </div>
</body>
</html>