<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Inventory</title>
</head>
<body>
    <h1>Product Inventory</h1>
    <% for(let i = 0; i < prodList.length; i++){ %>
        <li>
            <%= prodList[i].name %>
            <%= prodList[i].description %>
            <%= prodList[i].img %>
            <%= prodList[i].price %>
            <%= prodList[i].qty %>
        </li>
          <% } %>
    
</body>
</html>