<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Sarala&display=swap" rel="stylesheet">  
    

    <title>Display Product Page</title>
</head>
<body>
    <div class="hero-image">
        <div class="hero-text">
            <h1><%= product.name %></h1>
        </div>
    </div>
<br>
    <ul class="navigation">
        <li>
            <a href="/products">Return to Product List</a>
        </li>
        <li>
            <a href="/products/<%=product.id %>/edit">Edit <%= product.name %></a>
        </li>
        
        <li>
            <a href="/products/new">Add a New Product</a>
        </li>
    </ul>

    
    
<!-- Display Product Details here -->
<%= product.description %>
<%= product.img %>
<p>$ <%= product.price%> </p>
<% if (product.qty === 0) { %>
    <p>OUT OF STOCK</p>
    <form action="/products/<%=product.id %>?_method=DELETE" method="POST">
        <input type="submit" name="" value="delete <%=product.name %>" />
    </form>
    <% } else { %>
        <p>In Stock: <%=product.qty %></p>
        <form action="/products/<%=product.id %>?_method=DELETE" method="POST">
            <input type="submit" name="" value="delete <%=product.name %>" />
        </form>

        <form action="/products/<%=product.id%>/buy?_method=PUT" method="POST">
            <input type="submit" name="" value="Buy <%=product.name %>" />
        </form>
    <% } %>


    
    
    
</body>
</html>