<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Product Page</title>
</head>
<body>
    <h1><%= product.name %></h1>
    <nav class="nav">
        <a href="/products/<%=product.id %>/edit">Edit <%= product.name %></a>
        <a href="/products">Return to Product List</a>
    </nav>
<!-- Display Product Details here -->
<%= product.description %>
<%= product.img %>
<p>$ <%= product.price%> </p>
<p>In Stock: <%=product.qty %></p>

    <form action="/products/<%=product.id %>?_method=DELETE" method="POST">
        <input type="submit" name="" value="delete <%=product.name %>" />
    
</body>
</html>