<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lemonada&display=swap" rel="stylesheet">
    <title>Pokemon Detail</title>
</head>
<body>
    <ul class="navigation">
        <li>
            <a href="/pokedex/">Home</a>
        </li>
        <li>
            <a href="/pokedex/<%=pokemon.id%>/edit">Edit <%=pokemon.name%></a>
        </li>
    </ul>
    <h1><%= pokemon.name %></h1>
    <div class="container">
    

    <img src="<%=pokemon.img %>" alt="<%= pokemon.name %>" width="30%" height="30%">
    <div class="type">
        <p>Type: 
        <%= pokemon.type %>
        </p>
    </div>
    <div class="classification">
        <p>Classification:  <%= pokemon.misc.classification %></p>
        
        <p>Height:  <%= pokemon.misc.height %></p>
        
        <p>Weight:  <%= pokemon.misc.weight %></p>
        
    </div>
    <!-- <div class="stats">
        
        <%= pokemon.stats.hp %>
        <%= pokemon.stats.attack %>
        <%= pokemon.stats.defense %>
        <%= pokemon.stats.spattack %>
        <%= pokemon.stats.spdefense %>
        <%= pokemon.stats.speed %>
    </div> -->

    <div class="abilities">
        <p>Normal Abilities: <%= pokemon.misc.abilities.normal %> </p>
        
        <p>Hidden Abilities:  <%= pokemon.misc.abilities.hidden %></p>
        
    </div>

</div>
</body>
</html>